
TP2/.ipynb_checkpoints/fiuba-simulacion-tp2-checkpoint.pdf
TP2/.ipynb_checkpoints/fomrula_ej2-checkpoint.png
TP2/.ipynb_checkpoints/README-checkpoint.md
TP2/.ipynb_checkpoints/sisdinamico_ej3-checkpoint.png
TP2/.ipynb_checkpoints/sisdinamico_ej3_2-checkpoint.jpg
TP2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
TP2/Untitled.ipynb
TP2/.ipynb_checkpoints/TP2-checkpoint.ipynb
TP2/.ipynb_checkpoints/TP2-checkpoint.ipynb
